/* 스크롤트리거 적용클래스 */
main .p2_vision_bg .a {animation:a 0.8s linear both;}
.left {animation:left 0.5s linear both;}
.right {animation:right 0.5s linear both;}
.up {animation:up 0.5s linear both;}
.top_show {animation:top_bg 1s ease both;}
.top_txt_show {animation:top_txt 1.5s linear both;}
.btm_show {animation:btm_bg 1s ease both;}
.btm_txt_show {animation:btm_txt 1.5s linear both;}
.btm_txt_show2 {animation:btm_txt 1.5s linear both 0.3s;}

@keyframes a {
    0%{opacity:0; top:200px;}
    100%{opacity:1; top:0;}
}

@keyframes up {
    0%{opacity:0; top:50px;}
    100%{opacity:1; top:0;}
}

@keyframes left {
    0%{opacity:0; left:-50px;}
    100%{opacity:1; left:0;}
}

@keyframes right {
    0%{opacity:0; right:-50px;}
    100%{opacity:1; right:0;}
}

@keyframes top_bg {
    0%{opacity:0; transform:translateX(-400px);}
    100%{opacity:1; transform:translateX(0);}
}

@keyframes top_txt {
    0%{opacity:0;}
    100%{opacity:1;}
}

@keyframes btm_bg {
    0%{opacity:0; transform:translateX(400px);}
    100%{opacity:1; transform:translateX(0);}
}

@keyframes btm_txt {
    0%{opacity:0;}
    100%{opacity:1;}
}